@font-face {
    font-family: 'TitilliumWeb';
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf');
}

/* Global Styles */

* {
    font-family: 'TitilliumWeb', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

small {
    font-size: 12px;
}

label {
    font-size: 14px;
}

p {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

h6 {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

h5 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 28px;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

/* Page Styles */
#main-info {
    display: flex;
    width: 100%;
}

#main-info #profile-pic {
    width: 150px;
    height: 150px;
    background: url('../assets/images/profile-pic.jpg') center no-repeat;
    background-size: cover;
}
