/* Global Styles */

* {
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
    color: #0A0A0A;
}

a:active {
    color: #0A0A0A;
}

a:hover {
    opacity: 0.75;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
}

small {
    font-size: 12px;
}

label {
    font-size: 14px;
}

b {
    font-weight: 900;
}

p {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

h6 {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

h5 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 26px;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 36px;
    padding: 0px;
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 8px 0px;
    padding-left: 20px;
}

/* Utils Styles */

.light-text {
    opacity: 0.65;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

/* Page Styles */
.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#main-info, #summary, #experience {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px;
    width: 100vw;
    border-top: 2px solid #0A0A0A;
}

#main-info #profile-pic {
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    border: 3px solid #0A0A0A;
    box-shadow: inset 0px 0px 0px 6px #FFFFFF;
    background: green;
    background: url('../assets/images/profile-pic.jpg') center no-repeat;
    background-size: cover;
}

#main-info #profile-details {
    flex: 1 1 auto;
}

#summary #summary-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#summary #summary-skill {
    width: 30%;
}

#experience {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
}

#experience #career, #experience #education{
    width: 100%;
}

.timeline {
    padding: 16px 0px;
    width: 100%;
    /*  */
}

.timeline .timeline-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.timeline .timeline-item .timeline-item-pic {
    min-width: 80px;
    min-height: 80px;
    border-radius: 10px;
    z-index: 10;
}

.timeline .node .timeline-item-pic {
    box-shadow: 0px 0px 2px 2px #FFFFFF, 0px 0px 0px 4px #0A0A0A;
    background: green;
    background-size: cover;
    z-index: 10;
}

.timeline .node.first-node .timeline-item-pic {
    min-width: 80px;
    min-height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #FFFFFF, 0px 0px 0px 4px #0A0A0A;
    background: rgb(128, 0, 0) !important;
    background-size: cover;
}

.timeline .node.first-node .timeline-item-pic::before {
    position: absolute;
    margin-top: 84px;
    left: 53px;
    width: 5px;
    height: 100px;
    content: " ";
    background-color: #b5b5b5;
    z-index: 1;
}

.timeline .node.last-node .timeline-item-pic {
    min-width: 80px;
    min-height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #FFFFFF, 0px 0px 0px 4px #0A0A0A;
    background: rgb(128, 0, 0) !important;
    background-size: cover;
}

.timeline .node.last-node .timeline-item-pic::before {
    position: absolute;
    margin-top: -104px;
    left: 53px;
    width: 5px;
    height: 100px;
    content: " ";
    background-color: #b5b5b5;
    z-index: 1;
}

.timeline .timeline-item .timeline-item-description {
    flex: 1 1 auto;
    border-bottom: 2px solid #F0F0F0;
    width: 100%;
    padding: 8px 0px;
}

#faculdade-spei {
    background: url('../assets/images/faculdade-spei.jpg') center no-repeat !important;
    background-size: cover !important;
}


